@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, rgb(135, 14, 135), rgb(229, 192, 248));
  background-size: cover;
}

header {
  background-color: rgba(255, 255, 255, 0.36);
  margin: 15px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  text-align: center;
  font-family: "Bungee Shade", cursive;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* header .h1 {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

header .link ul {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
}

header .link li {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(0, 0, 0, 0.7);
}

header .link li:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.265), rgba(0, 0, 0, 0.261));
  border-radius: 15px;
  cursor: pointer;
}

a {
  list-style: none;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  margin: 15px;
  padding: 15px;
  margin-top: 50px;
}
.parag1 {
  font-family: "Rampart One", sans-serif;
  font-size: 40px;
  margin: 15px;
  margin-top: 25px;
  text-align: center;
}

.my_projects {
  /* font-family: 'Pacifico', cursive; */
  font-family: "Bungee Shade", cursive;
  text-align: center;
  margin-top: 100px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1rem 4rem;
}

.projects .img {
  background-color: rgba(255, 255, 255, 0.511);
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}
.projects .img img {
  width: 350px;
  height: 350px;
  border-radius: 5px;
}

.headercontact {
  font-family: "Bungee Shade", cursive;
  text-align: center;
  margin-top: 100px;
}

/* .socialmedia {
} */

.a_social {
  list-style: none;
  font-size: 30px;
}
